@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenue à la Librairie en Ligne</h1>

Découvrez notre sélection de livres fascinants dans divers genres.

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="images/livre1.jpg" alt="Image de livre 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="images/livre2.jpg" alt="Image de livre 2" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="images/livre 3.jpg" alt="Image de livre 3" class="img-fluid">
        </div>
    </div>
</div>
<a href="/Book-list">Voir les livres</a>
